<p>products works!</p>
<h3 align="center"><u>List Of Products</u></h3> <br/>
<div class="container">
<div class="row md-1" style="margin-top: 4px">
<div class="col-md-3" *ngFor="let product of products">
<div class="card" style="width:250px; height: 85%;">
<img align="center" style="width:100%; height: 50%;" class="card-img-top"
[src]="product.imagePath" alt="Card image cap">
<div class="card-body">
<p class="card-text" align="center"><b>{{product.name}}</b></p>
<p class="card-text">{{product.description}}</p>
<p class="card-text" align="left">{{product.price}}₹</p>
<p class="card-text" align="right">
<button class="btn btn-primary" (click)="addToCart(product)">Add To
Cart</button>
</p>
</div>
</div>
</div>
</div>
</div>

