<!DOCTYPE html>
<html   xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form th:action="@{/employees/save}" method="post" th:object="${EMPLOYEE}">
		
		id :<input type="hidden" th:field="*{id}" ><br><br>
		FIRST NAME :<input type="text" th:field="*{firstName}"><br><br>
		LAST NAME:<input type="text" th:field="*{lastName}"><br><br>
		EMAIL:<input type="text" th:field="*{email}"><br><br>					
		<input type="submit" value="save/insert">
	
	</form>
		
</body>
</html>