
<div>

    <form #regForm="ngForm" (ngSubmit)="submitForm(regForm.value)">
        <br>

        id:<input type="text" #id="ngModel" name="id" ngModel><br><br>
        first name<input type="text" #firstName="ngModel" name="firstName" ngModel><br><br>


        last name :<input type="text" #firstName="ngModel" name="lastName" ngModel><br><br>
        Email :<input type="text" #email="ngModel" name="email" ngModel><br><br>

        dept id :<input type="text" #dept_id="ngModel" name="dept_id" ngModel><br><br>

        <input type="submit" value="register">
    </form>

</div>
<!--  -->